<%= render "layouts/header" %>
<body style="background-color: orange;">
  <div class="container-fluid">
    <div class="row justify-content-center" style="margin-top:35px;">
        <div class="col-8 border border-success">
          <center>  <img src="buddha.jpg" style="height:120px; width:80%;"></center>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-top:5px;">
      <div class="col-8 border border-success">
          Reason why
      </div>
    </div>
  </div>
</body>
