<%= render "layouts/header" %>
<body style="background-color: orange; min-width:1000px;">
  <div class="container-fluid" >
    <div class="row justify-content-center" style="margin-top:35px;">
      <div class="contain ml-2 mr-2 border">
       <img src="/img/GreenApple.png" alt="Avatar" class="image">
       <div class="overlay">
        <div class="text">   <p>Vitamin A, C, and E <br>
               -Lower risk of Heart disease <br>
                -        diabetes <br>
               -Lower blood pressure <br>
               -Protects the lungs <br>
               -Good for bone health <br>
               -Improve neurological health <br>
               -Lower levels of bad cholesterol
               </p></div>
       </div>
      </div>
      <div class="contain ml-2 mr-2">
       <img src="/img/beet.png" alt="Avatar" class="image">
       <div class="overlay" style="height:250px;">
        <div class="text" >       <p>Vitamin  <br>
                 -Improve athletic performance <br>
                  -Fight Inflammation <br>
                 -Lower blood pressure <br>
                 -Prevent respiratory problems <br>
                 -Good for bone health <br>
                 -Improve neurological health <br>
                 -Anti-aging properties <br>
                 -Liver detoxification <br>
                 -Lower risk of cancer
                </p></div>
       </div>
      </div>
      <div class="contain ml-2 mr-2">
       <img src="/img/Cabbage.png" alt="Avatar" class="image">
       <div class="overlay">
        <div class="text">   <p>Vitamin C <br>
                   -Reduce muscle aches <br>
                    -Great for hair <br>
                    -Prevent prostate cancer <br>
                   -Lower blood pressure <br>
                   -Fight inflammation <br>
                   -Good for Heart health <br>
                   -Improve neurological health <br>
                 -Lower levels of bad cholesterol
              </p></div>
       </div>
      </div>
      <div class="contain ml-2 mr-2">
       <img src="/img/Cantaloupe.png" alt="Avatar" class="image">
       <div class="overlay">
        <div class="text">  <p>Vitamin  <br>
                     -Good for your skin and hair <br>
                      -Good for asthma <br>
                      -Reduce chronic inflammation <br>
                     -Lower blood pressure <br>
                     -Prevents prostate cancer
                  </p></div>
       </div>
      </div>
      <div class="contain ml-2 mr-2 ">
       <img src="/img/Carrot.png" alt="Avatar" class="image">
       <div class="overlay">
        <div class="text">   <p>Vitamin <br>
                       -Lower risk of Lung Cancer <br>
                      -          Colorectal cancer <br>
                      -            Heart disease <br>
                      -         diabetes<br>
                        -Prevents Leukemia <br>
                       -Good for oral health <br>
                       -Improve vision <br>
                       -Lower blood pressure
                   </p></div>
       </div>
      </div>
      <div class="contain ml-2 mr-2">
       <img src="/img/Celery.png" alt="Avatar" class="image">
       <div class="overlay">
        <div class="text">  <p>Vitamin<br>
                      -Detoxify body <br>
                      -Hyperlipidmia <br>
                       -Relieve migraines <br>
                      -Lower arthritis pain <br>
                      -prevent urinary tract infection <br>
                      -Fluid balance <br>
                      -Improve vision <br>
                      -Lower levels of bad cholesterol <br>
                      -Improve immune system <br>
                      -Lower blood pressure <br>
                      -Great for heart health <br>
                      -Diabetes
                 </p></div>
       </div>
      </div>
    </div>
    <div class="row justify-content-center" style="margin-top:35px;">
      <div class="contain ml-2 mr-2 border">
       <img src="/img/Cucumber.png" alt="Avatar" class="image">
       <div class="overlay">
        <div class="text">   <p>Vitamin <br>
                         -Good for your skin <br>
                          -Prevent constipation & kidney stones<br>
                         -Good for bone health <br>
                         -Good for cardiovascular <br>
                         -Lower inflammation <br>
                         -Lower blood pressure <br>
                         -Lower diabetes
                    </p></div>
       </div>
      </div>
      <div class="contain ml-2 mr-2">
       <img src="/img/Grapefruit.png" alt="Avatar" class="image">
       <div class="overlay">
        <div class="text"> <p>Vitamin<br>
                           -Lower risk of Stroke <br>
                            -Prevent asthma <br>
                            -Good for your skin <br>
                            -Good for your immune system <br>
                            -Good for heart health <br>
                           -Lower blood pressure <br>
                           -Protects the lungs <br>
                           -Lower inflammation
                      </p></div>
       </div>
      </div>
      <div class="contain ml-2 mr-2">
       <img src="/img/Ginger.png" alt="Avatar" class="image">
       <div class="overlay">
        <div class="text"> <p>Vitamin <br>
                             -Good for nausea(morning sickness, cold, and flu) <br>
                              -Reduce muscle pain and soreness <br>
                             -Osteoarthritis<br>
                             -Treat chronic indigestion <br>
                             -Reduce menstrual pain <br>
                             -Fight infection<br>
                             -Improve brain functionality <br>
                             -Lower blood sugar level <br>
                             -Lower cholesterol level <br>
                            -Improve cardiovascular health
                        </p></div>
       </div>
      </div>
      <div class="contain ml-2 mr-2">
       <img src="/img/Kale.png" alt="Avatar" class="image">
       <div class="overlay">
        <div class="text">     <p>Vitamin<br>
                               -Protect your eyes <br>
                                -Good for skin and hair <br>
                               -Pack with antioxidants <br>
                               -Lower cholesterol level<br>
                               -Good for bone health <br>
                               -Reduce the risk of heart disease
                          </p>
                        </div>
       </div>
      </div>
      <div class="contain ml-2 mr-2 ">
       <img src="/img/Lemon.png" alt="Avatar" class="image">
       <div class="overlay">
        <div class="text">     <p>Vitamin <br>
                                 -Increase your iron absorption <br>
                                  -Good for your skin<br>
                                 -Anemia <br>
                                 -Prevent kidney stones <br>
                                 -Prevents strokes <br>
                                 -Good for asthma <br>
                                 -Good for heart health <br>
                                 -Good for digestion <br>
                                 -Lower blood pressure <br>
                                 -Good for heart health
                            </p></div>
       </div>
      </div>
      <div class="contain ml-2 mr-2">
       <img src="/img/Lettuce.png" alt="Avatar" class="image">
       <div class="overlay">
        <div class="text">     <p>Vitamin <br>
                                  -Has Omega-3 <br>
                                  -Helps with insomnia <br>
                                  -Good store of protein <br>
                                  -Good for brain health <br>
                                  -Induce sleep <br>
                                  -Control anxiety <br>
                                  -Lower inflammation <br>
                                  -Heart health <br>
                                  -Lower cholesterol levels
                              </p></div>
       </div>
      </div>
    </div>
    <div class="row justify-content-center" style="margin-top:35px;">
          <div class="contain ml-2 mr-2 border">
           <img src="/img/Lime.png" alt="Avatar" class="image">
           <div class="overlay">
            <div class="text">     <p>Vitamin<br>
                                   -Prevents infections <br>
                                    -Relieve constipation <br>
                                   -Prevent kidney stones <br>
                                   -Heals peptic ulcer <br>
                                   -Treat arthritis <br>
                                   -Prevent stroke <br>
                                   -Gum bleeding <br>
                                   -Prevent asthma <br>
                                   -Increase your iron absorption <br>
                                   -treat respiratory disorders <br>
                                   -Lower cholesterol level <br>
                                   -Good for your skin <br>
                                   -Lower blood sugar <br>
                                  -Inflammation
                              </p></div>
           </div>
          </div>
          <div class="contain ml-2 mr-2">
           <img src="/img/Orange.png" alt="Avatar" class="image">
           <div class="overlay">
            <div class="text">           <p>Vitamin <br>
                                -Prevent anemia <br>
                                - Stroke <br>
                                - Diabetes<br>
                                - Kidney stones<br>
                                - Liver<br>
                                -Relieve constipation <br>
                                -Improve eye health <br>
                                -Good for your skin <br>
                                -Lower blood pressure <br>
                                -Lower cholesterol level
                            </p></div>
           </div>
          </div>
          <div class="contain ml-2 mr-2">
           <img src="/img/Pear.png" alt="Avatar" class="image">
           <div class="overlay">
            <div class="text">   <p>Vitamin <br>
                              -Improve circulation <br>
                              -Prevent birth defects <br>
                              -Healing <br>
                              -Improve immunity <br>
                              -Good for bone health <br>
                              -Good for skin and hair <br>
                              -Good for heart health <br>
                              -Lower inflammation <br>
                              -Good source for antioxidants
                          </p></div>
           </div>
          </div>
          <div class="contain ml-2 mr-2">
           <img src="/img/pineapple.png" alt="Avatar" class="image">
           <div class="overlay">
            <div class="text">Hello World</div>
           </div>
          </div>
          <div class="contain ml-2 mr-2 ">
           <img src="/img/Spinach.png" alt="Avatar" class="image">
           <div class="overlay">
            <div class="text">   <p>Vitamin <br>
                          -Prevent kidney stones <br>
                          -Prevent asthma <br>
                          -Good for skin and hair <br>
                          -Good source of antioxidants <br>
                          -Good for bone health <br>
                          -Lower blood pressure <br>
                          -Good for eye health
                      </p></div>
           </div>
          </div>
          <div class="contain ml-2 mr-2">
           <img src="/img/Strawberry.png" alt="Avatar" class="image">
           <div class="overlay">
            <div class="text">   <p>Vitamin <br>
                            -Good for pregnancy <br>
                            -Relieve constipation <br>
                            -Treat arthritis and gout <br>
                            -Improve brain functionality <br>
                            -Good for heart health <br>
                            -Good for bone health <br>
                            -Lower blood pressure <br>
                            -Lower inflammation <br>
                            -Improve immunity <br>
                            -Good for eye health <br>
                            -Lower stroke risk <br>
                            -Lower diabetes risk
                        </p></div>
           </div>
          </div>
        </div>
        <div class="row justify-content-center" style="margin-top:35px;">
              <div class="contain ml-2 mr-2 border">
               <img src="/img/SweetPotato.png" alt="Avatar" class="image">
               <div class="overlay">
                <div class="text">      <p>Vitamin <br>
                                               -Treat bronchitis <br>
                                               -Reduce arthritis pain <br>
                                               -Treat stomach ulcers <br>
                                               -Helps quit addictions <br>
                                               -Relieve asthma <br>
                                               -Diabetes <br>
                                               -Lower inflammation <br>
                                               -Lower blood pressure <br>
                                               -Good for eye health <br>
                                               -Improve immunity
                                           </p></div>
               </div>
              </div>
              <div class="contain ml-2 mr-2">
               <img src="/img/Tomato.png" alt="Avatar" class="image">
               <div class="overlay">
                <div class="text">  <p>Vitamin <br>
                                             -Good for pregnancy <br>
                                             -Counter the effect of smoking <br>
                                             -relieve constipation <br>
                                             -Good for eye health <br>
                                             -Good for your skin <br>
                                             -Lower blood pressure <br>
                                             -Good for heart health
                                         </p></div>
               </div>
              </div>
              <div class="contain ml-2 mr-2">
               <img src="/img/Watermelon.png" alt="Avatar" class="image">
               <div class="overlay">
                <div class="text">    <p>Vitamin <br>
                                           -Relieve muscle soreness <br>
                                           -Good for skin and hair <br>
                                           -Prevent asthma <br>
                                           -Improve eye health <br>
                                           -Good for heart health <br>
                                           -Lower inflammation <br>
                                           -Lower blood pressure
                                       </p></div>
               </div>
              </div>

            </div>


  </div>
</body>
