<header style="min-width:1000px;">
  <img src="/JuiceHouston.jpg" style="height:200px; width:100%;">
</header>
<nav style="min-width:1000px;">
    <ul class="nav nav-light bg-light">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/menu">Menu</a>
      </li>
      <% if logged_in? %>
      <li class="nav-item">
        <a class="nav-link" href="">Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/<%= current_user.id%>">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="margin-top: -9px;"><%= link_to "Log out", logout_path, method: :delete %> </a>
      </li>
          <li class="nav-item">
            <a class="nav-link" href="/forum">Forum</a>
          </li>
        </ul>
      <% else %>
      <li class="nav-item">
        <a class="nav-link" style="margin-top: -9px;"><%= link_to "Log in", login_path %> </a>
      </li>
     </ul>
      <% end %>

</nav>
